<div id="sobrecss" class="container">
  <div class="row">
      <div id="sj" class="jumbotron">
          <h1 class="display-4">Pokémon GO - Data de Início e Fim da Semana Lendária</h1>
          <p class="lead">Após vários meses de espera, os Pokémons Lendários chegaram finalmente ao Pokémon Go! Estas criaturas poderosas foram adicionadas ao jogo através do update das Raids e Raids Lendárias,
             o qual te permite se juntar a uma equipe com os seus amigos e derrotar Pokémons com um nível de CP muito elevado.</p>
          <hr class="my-4">
          <p>Informações adicionais:<br> Os Pokémons Lendários apenas vão estar disponíveis através das Raids Lendárias, o tipo de batalha raid mais difícil.<br>
            Quando uma Raid Lendária estiver online, vai aparecer um ovo Lendário por cima de um dos Ginásios.
            <br>Os Pokémons Lendários não podem ser usados para defender Ginásios, mas podem, obviamente, serem usados para atacar.<br></p>
        </div>
  </div>
</div>